<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <customErrors mode="Off"></customErrors>
        <compilation debug="true" targetFramework="4.0" />
      
    </system.web>
  <appSettings>
      <!--<add key="AmbitionzCon" value="Data Source=.;Initial Catalog=ambitionz;Persist Security Info=True;User ID=sa;Password=gd;" />-->
      <add key="AmbitionzCon" value="Data Source=219b684e-0c66-43d4-b84c-a44000ddbfeb.sqlserver.sequelizer.com;Initial Catalog=db219b684e0c6643d4b84ca44000ddbfeb;Persist Security Info=True;User ID=rbfjmitvgtgpzyak;Password=aZbViptKrpWKTGfY6pkLCEXAT4iCjhA5mP5EGE2zQJdnFigRPxNPVx5BcHcogXAj;" />
  </appSettings>
</configuration>
