.item_main{
	width:290px;
	height:175px;	
	background:url(../images/thumb_bg.png);
	padding:7px 0 0 7px;	
	/* for child absolute position */
	position:relative;
	float:left;
	margin-right:30px;
}
.item_main .item {
	width:280px;
	height:166px;	
	
	/* required to hide the image after resized */
	overflow:hidden;
	
	/* for child absolute position */
	position:relative;
	
	/* display div in line */
	float:left;
}

.item_main .item .caption {
	width:280px;
	height:166px;
	background:url(../images/thumb_hover.png);
	color:#fff;
	font-weight:bold;

	/* fix it at the bottom */
	position:absolute;
	left:0;

	/* hide it by default */
	display:none;

}

.item_main .item .caption a {
	text-decoration:none;
	color:#fff;
	font-family: 'Voces', cursive;
	font-size:16px;	
	
	/* add spacing and make the whole row clickable*/
	padding:5px;
	display:block;
	position:absolute;
	background:#be2026;
	margin-top:65px;
	width:280px;
	text-align:center;
	border:1px solid #F00;
	border-right:0px;
	border-left:0px;
	border-bottom: #600;
}
.pt_thumb{
	/* allow javascript moves the img position*/
	position:absolute;
}
/* Slider */
.slidingDiv { padding:0px; float:right; width:960px;}

.show_hide {display:none;}

.slidingDiv .main{ width:100%; float:left;}
.slidingDiv .main .left{ width:100%; float:left; margin:0px; padding:0;}
.slidingDiv .main .left .vist_btn{ width:526px; position:relative; margin-top:-190px; float:right;}
.slidingDiv .main .left .vist_btn a{ font-family:Vegur-R_0500; font-size:18px; color:#3c3c3c; font-weight:900; text-decoration:none; font-weight:normal;}
.slidingDiv .main .left .vist_btn a:hover{ color:#333;}
.slidingDiv .main .right{width:100%; float:right; margin:0;}
.slidingDiv .main .right img{ border:none;}
.close{ width:31px; position:absolute; margin-left:0px; margin:0px  0 0 910px;}
.close img{ border:0; cursor:pointer;}
