
/* Theming the menu */

ul#nav {float:left;width:100%;padding-left:20px;}
ul#nav li a {padding:6px 15px;text-decoration:none;text-transform:uppercase;font:bold 11px/17px Arial;  color:#FFF;}
ul#nav li a:hover,ul#nav li a:focus {color:#ecedee;}

ul#nav ul {background:#004877;margin-top:1px;}

ul#nav ul ul 
{
border-top:0px solid #eee;
margin-top:-1px;
}
ul#nav ul li {padding:5px 0; border-bottom:1px solid #03436d;border-top:1px solid #024c7d;}

span.sf-arrow {
top:18px;
right:2px;
background-image:url(images/arrows-white.png);
}
ul#nav ul li:hover{background:#002c48;}

ul#nav ul li a {padding:2px 15px;}
ul ul span.sf-arrow {
right:12px;
top:16px;
}